[alias]
   a      = add
   alias  = "!git config -l | grep alias | cut -c 7-"
   aa     = add --all
   ai     = add --interactive
   b      = branch -vv
   c      = commit
   ca     = commit --amend
   co     = checkout
   d      = diff
   ds     = diff --staged
   f      = "!git ls-files | grep -i"
   g      = grep -Iin
   ga     = !git grep -Iin
   l      = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)(%ar) %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d'
   la     = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)(%ar) %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
   l2     = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)%aD %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
   master = checkout master
   next   = "!git checkout $(git rev-list HEAD..master | tail -n 1)"
   push   = push --tags
   r      = reset
   r1     = reset HEAD^
   r2     = reset HEAD^^
   rb     = rebase
   rbi    = rebase -i
   s      = status --short
   sa     = stash apply
   sl     = stash list
   ss     = stash save
   sync   = "!git fetch upstream && git rebase upstream/master"
   wd     = diff --word-diff=\"color\"
   wds    = diff --word-diff=\"color\" --staged
   x      = commit -m
   xa     = commit -am
[color]
   ui = true
   diff = true
   grep = true
   branch = true
   showbranch = true
   status = true
[color "diff"]
   plain = normal dim
   meta = yellow dim
   frag = blue bold
   old = red bold
   new = green bold
   whitespace = red reverse
[color "status"]
   header = normal dim
   branch = bold magenta
   added = bold green
   changed = bold yellow
   untracked = bold red
[core]
  whitespace = trailing-space,space-before-tab
  editor = nvim
[diff]
   renames = copies
   mnemonicprefix = true
   tool = vimdiff
[difftool]
   prompt = false
[merge]
   ff = false
[pager]
   color = true
[pull]
   rebase = true
[push]
   default = tracking
[user]
   name = Mitchell Rosen
   email = mitchellwrosen@gmail.com
[commit]
	gpgsign = true
