[user]
	name = Mitchell Rosen
	email = mitchellwrosen@gmail.com
[push]
	default = tracking
[alias]
   a    = add
   aa   = add --all
   ai   = add --interactive
   b    = branch -vv
   c    = commit
   ca   = commit --amend
   d    = diff
   ds   = diff --staged
   l    = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)(%ar) %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
   l2   = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)%aD %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
   push = push --tags
   s    = status --short
   st   = stash
   wd   = diff --word-diff=\"color\"
   wds  = diff --word-diff=\"color\" --staged

[color]
   ui = true
   diff = true
   grep = true
   branch = true
   showbranch = true
   status = true
[color "diff"]
   plain = normal dim
   meta = yellow dim
   frag = blue bold
   old = red bold
   new = green bold
   whitespace = red reverse
[color "status"]
   header = normal dim
   branch = bold magenta
   added = bold green
   changed = bold yellow
   untracked = bold red
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	renames = copies
	mnemonicprefix = true
	tool = vimdiff
[difftool]
   prompt = false
[pager]
   color = true
