[alias]
  a      = add --all --patch
  alias  = "!git config -l | grep alias | cut -c 7-"
  b      = branch -vv
  c      = commit
  ca     = commit --amend
  co     = checkout
  cp     = cherry-pick
  d      = diff
  delete-merged-branches = "!git branch --merged HEAD | grep -v '*' | xargs git branch -d"
  ds     = diff --staged
  f      = "!git ls-files | grep -i"
  fetch  = fetch --prune
  g      = grep -Iin
  l      = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)(%ar) %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d'
  la     = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)(%ar) %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
  l2     = log --graph --abbrev-commit --decorate --relative-date --format=format:'%C(bold blue)%h %C(bold magenta)%aD %C(bold white)%s%C(reset) %C(white)- %an%C(auto)%d' --all
  next   = "!git checkout $(git rev-list HEAD..master | tail -n 1)"
  push   = push --tags
  r      = reset
  r1     = reset HEAD^
  r2     = reset HEAD^^
  rb     = rebase
  rbi    = rebase -i
  rc     = rebase --continue
  ro     = rebase --onto
  s      = status --short
  sync   = "!git fetch upstream && git rebase upstream/master"
  x      = commit -m
  xa     = commit -am
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"

[color]
  ui = true
  grep = true
  branch = true
  showbranch = true
  status = true
[color "status"]
  header = normal dim
  branch = bold magenta
  added = bold green
  changed = bold yellow
  untracked = bold red
[commit]
  verbose = true
[core]
  editor = nvim
  pager = delta
  whitespace = trailing-space,space-before-tab
[delta]
  minus-style = syntax auto
[diff]
  colorMoved = default
  renames = copies
  mnemonicprefix = true
  tool = vimdiff
[difftool]
  prompt = false
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
  ff = false
[pager]
  color = true
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[user]
  name = Mitchell Rosen
  email = mitchellwrosen@gmail.com
[commit]
  gpgsign = false
