Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   full
Xft.hintstyle: hintslight
Xft.rgba:      rgb

! Font
URxvt*font:           xft:Terminus:pixelsize=14
URxvt*boldFont:       xft:Terminus:bold:pixelsize=14
URxvt*italicFont:     xft:Terminus:pixelsize=14
URxvt*bolditalicFont: xft:Terminus:pixelsize=14

! Misc
URxvt*scrollBar:      false
URxvt*internalBorder: 4
URxvt*borderless:     true

URxvt*inheritPixmap: true
URxvt*transparent: true
URxvt*shading: 15

!URxvt*background: #000000
!URxvt*foreground: #babdb6

! Man page highlighting.
URxvt.colorIT: #87af5f
URxvt.colorBD: #d7d7d7
URxvt.colorUL: #87afd7

URxvt*color0  : #2E3436
URxvt*color8  : #555753
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC

!URxvt*color0:      #000000
!URxvt*color8:      #555753
!URxvt*color1:      #CC0000
!URxvt*color9:      #EF2929
!URxvt*color2:      #4E9A06
!URxvt*color10:     #8AE234
!URxvt*color3:      #C4A000
!URxvt*color11:     #FCE94F
!URxvt*color4:      #3465A4
!URxvt*color12:     #729FCF
!URxvt*color5:      #75507B
!URxvt*color13:     #AD7FA8
!URxvt*color6:      #06989A
!URxvt*color14:     #34E2E2
!URxvt*color7:      #D3D7CF
!URxvt*color15:     #ECEDEE

! Clickable URLs, tabs, change font size
URxvt.perl-ext-common: default,matcher,tabbed
URxvt.url-launcher:    /usr/bin/chromium
URxvt.matcher.button:  1

URxvt.tabbed.tabbar-fg:  2
URxvt.tabbed.tabbar-bg:  0
URxvt.tabbed.tab-fg:     3
URxvt.tabbed.tab-bg:     0
URxvt.tabbed.autohide:   yes
URxvt.tabbed.new-button: no
URXvt.tabbed.title:      no

URxvt.keysym.C-Up:   perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
